@import "tailwindcss";

@theme {
  --color-win-light:  #ffffff;
  --color-win-grey:   #c0c0c0;
  --color-win-dark:   #808080;
  --color-win-blue:   #000080;
  --color-neon-green: #4ae800;

  --font-comic-sans: "Comic Sans MS"  ;
  --font-arial:      "Arial"          ;
  --font-courier:    "New Courier"    ;
  --font-serif:      "Times New Roman";
}

@keyframes marquee {
  from {transform: translateX( 100cqw)}
  to   {transform: translateX(-100% )}
}

.animate-marquee {
  display: inline-block;
  animation: marquee 5s linear infinite;
}
